extends layout.pug
block content
  main 
  section 
  block content
    // input form for NOAA Buoy number (submits via GET to same route)
    form(method='get')
      label(for='buoy') NOAA Buoy:
      input#buoy(type='text', name='buoy', placeholder='e.g. 44007', value=buoy)
      button(type='submit') Load

    // Visible helper/link for users to find buoy station numbers
    p
      | NOAA Buoy Stations:
      a(href='https://www.ndbc.noaa.gov/' target='_blank' rel='noopener') https://www.ndbc.noaa.gov/

    h1= title

    // add buoy date below the header
    if buoyDateISO
      p= buoyDateISO
    
    //if highTideTimes && highTideTimes.length
    if highTides && highTides.length
      h2 High Tides Today
      ul
        each tide in highTides
          // show only the time portion of tide.t
          li #{(tide.t || '').split(' ').pop()} → #{tide.v} ft

    h2 Water Temp
    div #{waterTemp}
    h2 Air Temp
    div #{airTemp}
    h2 Wind 
    div #{windSpd} at #{windDir} degrees
    p Water: #{waterTemp}°F
    p Air: #{airTemp}°F
    p Wind: #{windSpd} kt from #{windDir}



